#desniBar{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#destainacija{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

#destinacija>select{
    padding: 10px;
    width: 300px;
    margin:30px;
    margin-left: 10px;
    border-width: 2px;
    border-color: #E0102B;
    border-radius: 10px;
    color: #E0102B;

}

#destinacija>#odrediste{
    padding: 10px;
    width: 300px;
    margin:30px;
    margin-left: 10px;
    border-width: 2px;
    border-color: #1081E0;
    border-radius: 10px;
    color:#1081E0;
}

#izaberiDatum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#destinacija>select:hover{
    border-width: 3px;
}

#destinacija>#odrediste:hover{
    border-width: 3px;
}

#destinacija>img{
    margin: 0;
    padding: 0;
    width: 35px;
    height: 35px;
}

.polaziste{
    width: 100px;
}

#potvrda{
    
    display: none;
    
}

p{
    color: #1081E0;
    
}

#potvrdaKarte{ 
    display:none;
    width:20%;
    border-width: 2px;
    padding: 10px;
    margin:10px;
    border: 2px #1081E0 solid;
    border-radius: 10px;
    color: grey;
}

#potvrdaKarte:hover{
    
        background-color:#1081E0;
        color: grey;
    
}

#datum{
    border-width: 2px;
    padding: 10px;
    width: 300px;
    margin:10px;
    
    border: 2px grey solid;
    border-radius: 10px;
    color: grey;
}

#datum:hover{
    border-width: 3px;
}

label{
   
    font-size: 20px;
    color: grey;
}

#vreme{
    border-width: 2px;
    padding: 10px;
    width: 300px;
    margin:10px;
    
    border-width: 2px;
    border-color: grey;
    border-radius: 10px;
    color: grey;
}

#popust{
    width:200px;
}

#popusti{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: flex-start;
    align-items: center;
    padding: 10px;
    width:90%;
    border: 4px #1081E0 solid;
    border-radius: 15px;

}

#popusti>input{
    width:20%;
    margin: 0;
    padding: 0;
    
    
}

#popusti>p{
    margin:0;
    padding: 0;
    font-size: 20px;
}

#smerovi{
    margin: 30px;
    padding:30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: flex-start;
    align-items: center;
    padding: 10px;
    width:20%;
    border: 4px #E0102B solid;
    border-radius: 15px;

}


#smerovi>input{
    width:20%;
    margin: 10px;
    padding: 10px;
    
    
}

#smerovi>img{
    width: 40px;
    height: 40px;
}

#kupiKartu{

    width:20%;
    border-width: 2px;
    padding: 10px;
    margin:10px;
    border: 2px #E0102B solid;
    border-radius: 10px;
    color: grey;

}

#kupiKartu:hover{
    background-color:#E0102B;
    color: grey;
}

#vreme:hover{
    border-width: 3px;
}

#cena{
    display: none;
    color: #E0102B;
}

